import React from "react";

import styles from "./{{pascalCase name}}.module.scss";

interface {{pascalCase name}}Props {
  // declare any props here
}

const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = (props) => {
  return (
    <div className={styles.container}>
      {{pascalCase name}} component
    </div>
  );
};

export default {{pascalCase name}};
